incorporo DOM con modelo de caja/
* {
    box-sizing: border-box;
}

body{
    background:linear-gradient (rgb(5,7,12,0.75),rgb(5,7,12,0.75));
    background-image:url(imagen/OIG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment:fixed 
    
}

#strong,strong{
    color: aliceblue;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: rgb(17, 110, 98);
     font-size: 50px;
     font-family:'Times New Roman', Times, serif;
     margin-top: 100px
     

 
}


a{
      
    display: inline-flexbox;
    border-radius: 60px;
    font-size: 50px;
    margin: 20px;
    text-decoration:none;
    color: aliceblue;
    padding-inline: 120px;
    font-style:oblique;
    padding-bottom: 20px;
    margin-bottom:  200px;;
    padding-top:20px 
    
        
        
    
        
        }
a:hover{


    background-color:transparent;
    border:4px dashed rgb(88, 193, 190);
    color: rgb(247, 247, 247);
   
   
       
    
}
    

h1{
       
    color: rgb(255, 255, 255);
        display: flex;
        font-family:serif;
        justify-content: center;
        background-color: rgb(18, 139, 139);
        font-style: italic;
        
        font-size: 200px;
        
       
       
        
       
        
        
        
}     
       
    
    
        
       
        
        
        


h2{
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        color: rgb(246, 250, 249);
        
        
        
}

p{
       color: aliceblue;
       font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

}







         
        
    





.contenedor {display: flex;}

.columna-1 {
    display: flex;
    padding: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(10, 77, 76);
    margin: 0 10px;
    font-style: italic;
    
    
    
}

.columna-2 {
    display: flex;
    padding: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(10,77, 76);
    margin: 0 10px;
    font-style: italic;
    
}
#video,video{
    display: flex;
    margin:0 auto;
   float:inline-start;
    height:1500px;
    margin-top:2%;
}

