incorporo DOM con modelo de caja/
* {
    box-sizing: border-box;
}

body{
   
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment:fixed 
    
}

img{
    width:100%
}

.row{
    display: flex;
    padding:5px;
    
}
.column{
    flex: 25%;
    padding:5px 
}

.column img{
    margin-top: 5px;
}


#strong,strong{
    color: aliceblue;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: rgb(17, 110, 98);
     font-size: 50px;
     font-family:'Times New Roman', Times, serif;
     margin-top: 100px
     

 
}


a{
    display: inline-flexbox;
    border-radius: 60px;
    font-size: 50px;
    margin: 20px;
    text-decoration:none;
    color: aliceblue;
    padding-inline: 120px;
    font-style:oblique;
    padding-bottom: 20px;
    margin-bottom:  200px;;
    padding-top:20px }
    
    
a:hover{


    background-color:transparent;
    border:4px dashed rgb(88, 193, 190);
    color: rgb(247, 247, 247);

   
   
       
    
}
img:hover{
    
    border:10px solid rgb(10, 208, 243);
    transform: scale(1.2);
    
}
    

h1{
       
    color: rgb(255, 255, 255);
        display: flex;
        font-family:serif;
        justify-content: center;
        background-color: rgb(18, 139, 139);
        font-style: italic;
        
        font-size: 200px;
        
        
}











